[submodule "evmmax-no-eof-writeup/evm-benchmarks"]
	path = evmmax-no-eof-writeup/evm-benchmarks
	url = https://github.com/jwasinger/evm-benchmarks
[submodule "evmmax-no-eof-writeup/go-ethereum"]
	path = evmmax-no-eof-writeup/go-ethereum
	url = https://github.com/jwasinger/go-ethereum
[submodule "evmmax-no-eof-writeup/go-ethereum-asm384"]
	path = evmmax-no-eof-writeup/go-ethereum-asm384
	url = https://github.com/jwasinger/go-ethereum
[submodule "evmmax-no-eof-writeup/mont-arith"]
	path = evmmax-no-eof-writeup/mont-arith
	url = https://github.com/jwasinger/mont-arith
